
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Siderg</title>
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/component.css">
      <link rel="stylesheet" href="css/custom-styles.css">
      <link rel="stylesheet" href="css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

      <link rel="stylesheet" href="css/demo.css">
      <link rel="stylesheet" href="css/font-awesome-ie7.css">

      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>

  </head>

  <body>
  <div class="menu">
    <div class="navbar">
      <a href="/"><img src="img/logo-nova.png" alt="logo do grupo de pesquisa Side" class="logo mini-logo"></a>
      <div class="container-fluid logo-nav">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/membros">Membros</a></li>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/publicacao">Publicações</a></li>
            <li><a href="/patentes">Propriedade Intelectual</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="mini-menu">
      <label>
        <select class="selectnav" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option value="/" selected="">Home</option>
          <option value="/membros">Membros</option>
          <option value="/projetos">Projetos</option>
          <option value="/publicacao">Publicações</option>
          <option value="/patentes">Propriedade Intelectual</option>
          <option value="/sobre">Sobre</option>
          <option value="contato">Contato</option>
        </select>
      </label>
    </div>
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="banner">
    <div class="carousel slide">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/banner-image.jpg" alt="placeholder 960" class="img-responsive centered-image banner" />
                <div class="carousel-caption">
                  <p class="banner-text">Bem vindo ao site do Grupo de Pesquisa Semantics in Data Environments (SIDE) do
                      Instituto Federal de Educação, Ciência e Tecnologia da Paraíba, Brasil.
                   </p>
                </div>
            </div>
    </div>
  </div>
</div>

  <div class="container" id="main">
      <div class="featured-block">
        <div class="row">
           <div class="col-md-4 col-sm-6">
              <div class="block">
                 <div class="thumbnail linhas-block membro-box">
                   <a href="/membros">
                    <div class="caption">
                      <i class="glyphicon glyphicon-user index-icon"></i>
                      <p class="item-title">Membros
                      </p>
                    </div>
                  </a>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div class="block">
                 <div class="thumbnail linhas-block membro-box">
                   <a href="/projetos">
                    <div class="caption">
                      <i class="glyphicon glyphicon-book index-icon"></i>
                      <p class="item-title">Projetos</p>
                    </div>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div class="block">
                 <div class="thumbnail linhas-block membro-box">
                   <a href="/publicacao">
                    <div class="caption">
                      <i class="glyphicon glyphicon-comment index-icon"></i>
                      <p class="item-title">Publicações</p>
                    </div>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div class="block">
                 <div class="thumbnail linhas-block membro-box">
                   <a href="/patentes">
                    <div class="caption">
                      <i class=" glyphicon glyphicon-pencil index-icon"></i>
                      <p class="item-title">Propriedade Intelectual</p>
                    </div>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div class="block">
                 <div class="thumbnail linhas-block membro-box">
                   <a href="/sobre">
                    <div class="caption">
                      <i class=" glyphicon glyphicon-search index-icon"></i>
                      <p class="item-title">Sobre</p>
                    </div>
                  </a>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div class="block">
                 <div class="thumbnail linhas-block membro-box">
                     <a href="/Contato">
                      <div class="caption">
                        <i class="glyphicon glyphicon-earphone index-icon"></i>
                        <p class="item-title">Contato</p>
                      </div>
                    </a>
                 </div>
              </div>
           </div>
        </div>

  <div class="row grupos">
            <div class="caption">
                <div class="col-md-12">
                  <h1>Linhas de pesquisa</h1>
                </div>
                <div class="col-md-12">
                  <%if(loggedUser!= undefined){%>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Cadastrar linha de pesquisa</button>
                  <%}%>
                </div>
              <div class="row">
                <%for (var i = 0; i < tasks.length; i++){  %>
                <div class="col-md-6">
                    <div class="block">
                        <div class="thumbnail linhas-block">
                            <div class="caption">
                                <p class=><%= tasks[i].nome %> </p>
                                <%if(loggedUser!= undefined){%>
                                  <a href="/delete-linha/<%= tasks[i]._id%>" class="btn btn-primary">Deletar</a>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
      </div>
      <div class="ruler"></div>
  </div>
  <div class="footer-wrapper">

      <div class="copy-rights">
          <div class="container">
              <div class="row">

                  <div class="col-md-6">

                  </div>
                  <div class="col-md-6">

                  </div>

              </div>
          </div>
      </div>
  </div>
  <!-- Modal form
  ================================================== -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Cadastrar linha de pesquisa</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="add-linha" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">Descrição:</label>
              <input type="text" class="form-control" id="recipient-name" name="nome">
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <%if(loggedUser!= undefined){%>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
          <%}%>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery-1.9.1.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </script>
  </body>
  </html>
