
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Siderg</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/custom-styles.css">
    <link rel="stylesheet" href="css/font-awesome.css">


    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">

    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>


</head>

<body>
  <div class="header-wrapper">
      <div class="site-name">
          <img src="img/logo-nova.png" alt="logo do grupo de pesquisa Side" class="logo">
      </div>
  </div>
<div class="menu">
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fw-icon-th-list"></i>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Membros</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
    <div class="mini-menu">
        <label>
            <select class="selectnav">
                <option value="#" selected="">Home</option>
                <option value="#">Membros</option>
                <option value="#">Projetos</option>
                <option value="#">Sobre</option>
                <option value="#">Contato</option>
            </select>
        </label>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="banner">
    <div id="carousel-example-generic" class="carousel slide">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/banner-image.jpg" alt="ifpb">
                <div class="carousel-caption">
                </div>
            </div>
    </div>
</div>

<div class="container">
    <div class="featured-block">
      <div class="row">
        <div class="caption">
        <h1>Semantics In Distributed Environments</h1>
        </div>
        <div class="col-md-12">
            <div class="block">
                <div class="thumbnail">
                  <div class="caption">
                    <p>Welcome to the site of the SIDE Research Group at the Federal Institute of Education, Science
                     and Technology of Paraiba (IFPB), Brazil.
                   </p>
                   <p>SIDE hosts students and professors doing research in computer information management systems,
                      with particular emphasis on databases and information systems in distributed environments. Related
                      issues are: semantics usage, distributed data environments (e.g., Web), semantic web, data
                      integration, big data solutions development, data mining, data visualization, data and information
                      quality, NoSQL systems, and others.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row grupos">
          <div class="caption">
            <h1>Linhas de pesquisa</h1>
            <div class="col-md-3">
                <div class="block">
                    <div class="thumbnail">
                        <img src="img/img1.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <h1>Lorem ipsum</h1>
                            <p>Cuibstui ipsum dolor sit amet, consectetuer adipiscing eli onec odio cuisque volutpat mattis</p>
                            <a class="btn" href="#">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <div class="thumbnail">
                        <img src="img/img2.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <h1>Fusce lacinia arcu</h1>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis ctor, ultrices ut, element</p>
                            <a class="btn" href="#">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <div class="thumbnail">
                        <img src="img/img3.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <h1>Morbiin semquis</h1>
                            <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean</p>
                            <a class="btn" href="#">more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <div class="thumbnail">
                        <img src="img/img4.jpg" alt="" class="img-responsive">
                        <div class="caption">
                            <h1>Aliquam lectus</h1>
                            <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, mod in, pharetra ultrici</p>
                            <a class="btn" href="#">more</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="ruler"></div>
</div>
<div class="footer-wrapper">
    <div class="site-content">
        <div class="container">
            <div class="row">


            </div>
        </div>
    </div>
    <div class="copy-rights">
        <div class="container">
            <div class="row">

                <div class="col-md-6">

                </div>
                <div class="col-md-6">

                </div>

            </div>
        </div>
    </div>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.9.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>


</body>
</html>
