<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Siderg</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/custom-styles.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
</head>

<body>
    <div class="header-wrapper">
        <div class="site-name">
            <h1>Side</h1>
        </div>
    </div>
    <div class="menu">
        <div class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fw-icon-th-list"></i>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/membros">Membros</a></li>
                        <li><a href="/projetos">Projetos</a></li>
                        <li><a href="/publicacao">Publicações</a></li>
                        <li><a href="/patentes">Propriedade Intelectual</a></li>
                        <li><a href="/sobre">Sobre</a></li>
                        <li><a class="ativo" href="/contato">Contato</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
        <div class="mini-menu">
            <label>
                <select class="selectnav" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option value="/">Home</option>
                    <option value="/membros">Membros</option>
                    <option value="/projetos">Projetos</option>
                    <option value="/publicacao">Publicações</option>
                    <option value="/patentes">Propriedade Intelectual</option>
                    <option value="/sobre">Sobre</option>
                    <option value="/contato" selected="">Contato</option>
                </select>
            </label>
        </div>
    </div>

    <div class="container">
        <div class="featured-block">
            <div class="row">

                <div class="col-md-12">
                    <div class="block">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2>Telefone/Fax:</h2>
                                <p>+55 83 3612 1392</p>
                            </div>
                            <div class="caption">
                                <h2>E-mail:</h2>
                                <p>side@ifpb.edu.br</p>
                            </div>
                            <div class="caption">
                                <h2>Endereço: </h2>
                                <p>IFPB Campus João Pessoa
                                    <br> Avenida Primeiro de Maio, 720
                                    <br> Jaguaribe
                                    <br> João Pessoa - PB
                                    <br> CEP: 58015-435</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ruler"></div>
    </div>
    <div class="footer-wrapper">
        <div class="site-content">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="copy-rights">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal form
  ================================================== -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Cadastrar linha de pesquisa</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="add-linha" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Descrição:</label>
                            <input type="text" class="form-control" id="recipient-name" name="nome">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</body>

</html>
